@import "../../../assets/css/global";
#pay-bill{
  padding: 0 15px 60px 15px;
  .header{
    padding:22px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item{
      display: flex;
      align-items: center;
      image{
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
      .nick-name{
        padding-left: 10px;
        color:#666666 ;
        font-size: 12px;
        line-height: 16px;
      }
      .iconfont{
        font-size:10px;
        color: rgba(0,0,0,0.65);
        padding-right: 5px;
      }
      .txt{
        font-size:12px;
        color: #4A4A4A;
        line-height: 16px;
      }
    }
  }
  .pay-content{
    border:1px solid #DBDBDB;
    background-color: #ffffff;
    border-radius: 5px;
    .item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 22px 16px 22px 0px;
      margin-left: 8px;

      &.recharge {

        .vip-more {
          .txt {
            color: #202020;
          }
        }
      }
      .title{
        font-size: 14px;
        color:#4A4A4A ;
        line-height: 20px;
      }
      .vip-more{
        display: flex;
        align-items: center;
        span{
          font-size: 10px;
          color: #999999;
        }
        .txt{
          color: #FF2741;
          font-size: 12px;
          padding-right:6px;
        }
      }
      input{
        flex: 1;
        text-align: right;
        font-size: 18px;
      }
      .input-placeholder{
        color: #9B9B9B;
        font-size: 12px;
        line-height: 16px;
      }
    }
    .item-input{
      input{
        color: #FF2741;
        font-size: 12px;
      }
    }

  }
  .remarks{
    position: relative;
    margin: 10px 15px;
    box-sizing: border-box;
    span{
      position: absolute;
      left: 0;
      top: 0;
      color:#008CEE;
    }
    textarea{
      width: 100%;
      height: 50px;
      padding-left:30px;
      box-sizing: border-box;
      font-size: 16px;
    }
  }

  .recharge-box {
    margin-top: 20px;
    .recharge-title {
      font-size: 14px;
      color: #666666;
    }
    .recharge-item-box {
     /* display: flex;
      align-items: center;
      flex-wrap: wrap;*/
      margin: 0 -7px;
      font-size: 0;
      .item {
        display: inline-block;
       padding: 10px 7px;
        color: #4A4A4A;
        text-align: center;
        width: 33%;
        box-sizing: border-box;
        .box {
          border-radius: 4px;
          border: 1px solid #DBDBDB;
          background: #ffffff;
          padding: 8px;
        }
      }
      .num {
        font-size: 14px;
      }
      .text {
        font-size: 14px;
        span {
          color: @globalColor;
        }
      }
    }

  }

  .btn-box {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background: #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    z-index: 1;
    .item {
      height: 100%;
      line-height: 50px;
      flex: 1;
      color: @globalColor;
      font-size: 20px;
      font-weight:500;
      padding-left: 15px;
      border-radius: 0;
      &.btn {
        background: @globalColor;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
      }
    }
  }

  /*遮罩层*/
  .maks{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    background: rgba(0,0,0,.4);
    opacity: 1;
    transition: opacity .3s ease;
    display: none;
    left: 0;
    z-index: 2;
    &.cur{
      display: block;
    }
  }
  /*弹出可用优惠*/
  .usable-box{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: 40;
    background:#ffffff;
    transition:all .3s linear;
    left: 0;
    .title{
      //height: 8%;
      padding: 18px 15px;
      display: flex;
      align-items: center;
      .txt{
        flex: 1;
        text-align: center;
        color:#2E2D2D ;
        font-size: 16px;
        line-height: 22px;
      }
      .sure{
        color:#1AAD19 ;
        font-size: 13px;
        line-height: 18px;
      }
    }
    .content{
      overflow: auto;
      height: 100%;
      padding-bottom: 55px;
      .radio-group{
        .radio{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding:0 15px;
          height: 50px;
          .txt{
            font-size:13px;
            color: #2E2D2D;
            line-height: 18px;
            .info{
              color:#909090 ;
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
        .mar-b{
          margin-bottom: 60px;
        }
      }
    }
    &.cur{
      height: 50%;
    }
  }

  .sure-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    width: 93%;
    z-index: 9;
    border-radius: 4px;
    text-align: center;

    &.cur {
      display: block;
    }
    .title {
      height: 45px;
      line-height: 45px;
      font-size: 17px;
      color: #909090;
    }
    .body {
      padding: 0 20px;

      .type {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        padding: 25px 0;
        i {
          font-size: 20px;
          margin-right: 5px;
          color: @globalColor;
        }
      }
      .tips {
        line-height: 22px;
        padding: 20px 0;
        font-size: 13px;
        color: #9B9B9B;
        text-align: left;
      }
    }
    .sure-btn-box {
      display: flex;
      align-items: center;
      background: #ffffff;
      color: #202020;
      font-size: 18px;
      .item {
        border-radius: 0;
        flex: 1;
        text-align: center;
        height: 50px;
        line-height: 50px;

        &.sure {
          background: @globalColor;
          color: #ffffff;
        }
      }
    }
  }
}